<!DOCTYPE html>
<html>

<head>
    <script src="https://chhota.ga/js/chhota.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ernr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/5d258953-34b7-476e-a30d-4acc4578eed3%2Fdd9d4fc3-c325-424c-83e8-677cb6d57a75.png?1516954115957" />
    <meta name="description" content="Get donations without people paying cash."/>
</head>

<body>
  
  <section id ="sha" class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <span class="has-text-black-bis">ernr</span> <i class="has-text-black fa fa-money" aria-hidden="true"></i>
      </h1>
      <h2 class="subtitle">
        Get donations without people paying cash.
      </h2>
    </div>
  </div>
</section>
  <section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      You can create a mining page easily with <span class="has-text-danger">ernr</span> - that means simply visiting that page will mine the Monero cryptocurrency on the visitor's computer - <span class="has-text-success">with consent</span>.
      <br>
      Payments above <span class="has-text-warning">0.3 XMR</span> are processed <span class="has-text-info ">automatically</span>. There is a <span class="has-text-primary">flat 3% fee</span> taken by <span class="has-text-danger">supportXMR.com</span>.<br><br>Here's an <a target="_blank" class="has-text-info" href="https://ernr.ml/#$f1uj9S">example page</a>.
    </div>
  </div>
</section>
  <section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      The <span class="has-text-black">only</span> thing you need to get started is a monero wallet. You can make one <strong><a href="https://mymonero.com/">here</a></strong>
    </div>
  </div>
</section>
  <form  method="post" action="/submit" class="field is-hidden-desktop form-horizontal well">
  <div id="la" class="field is-hidden-desktop">
  <label class="label is-medium">Make your own <span class="has-text-danger">ernr</span> page in a jiffy</label>

  
    
<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input name="id" class="input is-medium" type="text" placeholder="Enter your page's name here, this will appear in the url.">
    <span class="icon is-medium is-left">
      <i class="fa fa-id-card fa-lg"></i>
    </span>

  </div>
</div>
    <div class="field">
  <div class="control has-icons-left has-icons-right">
    <input name="address" class="input is-medium" type="text" placeholder="Enter your monero public key here.">
    <span class="icon is-medium is-left">
      <i class="fa fa-envelope fa-lg"></i>
    </span>

  </div>
</div>
    <input type="submit" value="Create your page" class="button is-dark">
    </div>
  </form>
  <form  method="post" action="/submit" class="is-hidden-mobile form-horizontal well">
      <div id="bla" class="field ">
  <label class=" label is-medium">Make your own <span class="has-text-danger"><span class="has-text-danger">ernr</span></span> page in a jiffy</label>

  
    
<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input name="id" class="input is-medium" type="text" placeholder="Enter your page's name here, this will appear in the url.">
    <span class="icon is-medium is-left">
      <i class="fa fa-id-card fa-lg"></i>
    </span>

  </div>
</div>
    <div class="field">
  <div class="control has-icons-left has-icons-right">
    <input name="address" class="input is-medium" type="text" placeholder="Enter your monero public key here.">
    <span class="icon is-medium is-left">
      <i class="fa fa-envelope fa-lg"></i>
    </span>

  </div>
</div>
    </div>
    <input type="submit" value="Create your page" class="button is-dark">
</form>

  <script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('d96enih82rgf');
</script>
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
<p>
              <strong>ernr</strong> made with <i class="fa fa-heart"></i><i class="fa fa-rocket"></i> by <a href="http://jajoosam.tech">Samarth Jajoo</a>.
            </p>
            <p>
              <a class="icon" href="https://github.com/jajoosam/liberto">
                <i class="fa fa-github"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
  <style>
    form{
      margin: 1%;
    }
    #bla{
      max-width: 50%;
    }
    #sha{
      height: 20%;
    }
    .footer{
      padding-bottom: 3%;
    }
  </style>
</body>

</html>
