doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ernr
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='shortcut icon', type='image/x-icon', href='https://cdn.glitch.com/5d258953-34b7-476e-a30d-4acc4578eed3%2Fdd9d4fc3-c325-424c-83e8-677cb6d57a75.png?1516954115957')
  body
  section.hero.is-info.is-fullheight
    .hero-body
      .container
        h1.title.has-text-black-bis
          | ernr 
          i.fa.fa-money.has-text-black(aria-hidden='true')
          br
          br
        p
          b Mining Page    
          span #{mine}
          br
          b Balance Page    
          span https://supportxmr.com/#/dashboard